.container {
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

button {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
}

video, canvas {
    border: 1px solid #000;
}
